body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  padding: 20px;
}

.form-container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row, .row-4 {
  display: grid;
  gap: 10px 20px;
  align-items: center;
}

.row {
  grid-template-columns: 150px 1fr 150px 1fr;
}

.row-4 {
  grid-template-columns: 100px 1fr 100px 1fr 100px 1fr 100px 1fr;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 7px;
  background-color: rgb(240, 241, 225);
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.btn{
  text-align: center;
}
#btn{
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  border: 1px solid;
}